
body {
  font-family: sans-serif;
  overflow: hidden;
  color: white;
  width:100%;
  height:100%; 
  margin:0px;
}

.drop {
  width: 260px;
  height: 260px;
  border: 2px solid black;
}

.bg {
  width: 100%;
  height: 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
}

#setup {
  background: url('../gfx/setup.png');
}

#loading {
  background: url('../gfx/loading.gif');
}

.vert {
  top:50%;
  position:absolute;
  margin-top:-130px;
  text-align:center;
}


#left {
  left:25%;
}

#right {
  right:25%;
}